.brands {
  padding-top: 61px;
  padding-bottom: 59px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 121px;
  column-gap: 121px;
  background-color: #ebd96b;
}
.brands img {
  mix-blend-mode: multiply;
}
.brands li:nth-child(1) img {
  width: 119px;
  height: 71px;
}
.brands li:nth-child(2) img {
  width: 151px;
  height: 23px;
}
.brands li:nth-child(3) img {
  width: 177px;
  height: 63px;
}
.brands li:nth-child(4) img {
  width: 236px;
  height: 71px;
}
.brands li:nth-child(5) img {
  width: 128px;
  height: 71px;
}
.brands li:nth-child(6) img {
  width: 167px;
  height: 64px;
}
@media (max-width: 1199.98px) {
  .brands {
    padding-top: 40px;
    padding-bottom: 40px;
    -moz-column-gap: 80px;
    column-gap: 80px;
  }
}
@media (max-width: 767.98px) {
  .brands {
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}